@use "@/common/styles/styleConstants.scss" as *;
@use "@/common/styles/mixin.scss" as *;

.input {
    @include clampText($text-m-main, $text-main);
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: $color-black;

    &::placeholder {
        font-style: italic;
        color: $color-soft-white;
    }
}