@use "@/common/styles/styleConstants" as *;

@mixin clampText($min, $max) {
    font-size: clamp(#{$min}px,
        #{calc($max / 1024) * 100}vw,
        #{$max}px);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin resetBtn {
    background: transparent;
    border: none;
    outline: none;
}